//- Menu
//- =========

//- (Use: screen < 992px)
mixin nav-main-menu-default(Class)
    ul.nav-main-menu(class=Class)
        li
            a(href="#") HOME
            ul
                li: a(href="homepage-default.html") DEFAULT
                li
                    a(href="#") CORPORATE
                    ul
                        li: a(href="homepage-corporate.html") CORPORATE 1
                        li: a(href="homepage-corporate-2.html") CORPORATE 2
                li: a(href="homepage-onepage.html") ONEPAGE
                li: a(href="homepage-menubottom.html") MENU BOTTOM
                li: a(href="homepage-agency.html") AGENCY
                li
                    a(href="#") ALTERNATIVE
                    ul
                        li: a(href="homepage-alternative.html") ALTERNATIVE 1
                        li: a(href="homepage-alternative-2.html") ALTERNATIVE 2
                li: a(href="homepage-slip-screen.html") SLIPSCREEN
                li
                    a(href="#") BUSINESS
                    ul
                        li: a(href="homepage-business.html") BUSINESS
                        li: a(href="homepage-business-2.html") BUSINESS 2
                li
                    a(href="#") CREATIVE
                    ul
                        li: a(href="homepage-creative.html") CREATIVE
                        li: a(href="homepage-creative-2.html") CREATIVE 2
                li: a(href="homepage-leftmenu.html") LEFT MENU
                li: a(href="homepage-portfolio.html") PORTFOLIO
                li
                    a(href="#") BLOG
                    ul
                        li: a(href="homepage-blog.html") BLOG LARGE IMAGE
                        li: a(href="homepage-blog-masonry.html") BLOG MASONRY
                li
                    a(href="#") CLASSIC
                    ul
                        li: a(href="homepage-classic.html") CLASSIC 01
                        li: a(href="homepage-classic-2.html") CLASSIC 02
                li
                    a(href="#") SHOP
                    ul
                        li: a(href="homepage-shop-1.html") SHOP 1
                        li: a(href="homepage-shop-2.html") SHOP 2
                        li: a(href="homepage-shop-2-caro.html") SHOP 2 CARO
                        li: a(href="homepage-shop-3.html") SHOP 3
                        li: a(href="homepage-shop-3-caro.html") SHOP 3 CARO
        li
            a(href="#") PAGES
            ul
                li: a(href="page-about.html") ABOUT US
                li: a(href="page-about-2.html") ABOUT US 2
                li: a(href="page-contact.html") CONTACT US
                li: a(href="page-service.html") SERVICES
                li: a(href="page-service-2.html") SERVICES 2
                li: a(href="page-ourteam.html") OUR TEAM
                li: a(href="page-ourteam-2.html") OUR TEAM 2
                li: a(href="page-clients.html") OUR CLIENTS
                li: a(href="page-login.html") LOGIN
                li: a(href="page-register.html") REGISTER
                li: a(href="page-underconstruction.html") UNDER CONSTRUCTION
                li: a(href="page-underconstruction2.html") UNDER CONSTRUCTION 02
                li: a(href="page-underconstruction3.html") UNDER CONSTRUCTION 03
                li: a(href="404.html") 404 ERROR
                li: a(href="403.html") 403 ACCESS DENIED
                li: a(href="500.html") 500 SERVER ERROR
        li
            a(href="#") FEATURES
            ul
                li
                    a(href="#") SHORTCODES 01
                    ul
                        li: a(href="shortcode-button.html") BUTTON
                        li: a(href="shortcode-tabs.html") TABS
                        li: a(href="shortcode-accordion.html") ACCORDION
                        li: a(href="shortcode-message-box.html") MESSAGE BOX
                        li: a(href="shortcode-blog-posts.html") BLOG POSTS
                        li: a(href="shortcode-call-to-action.html") CALL TO ACTION
                        li: a(href="shortcode-coverbox.html") COVER BOX
                        li: a(href="shortcode-team.html") OUR TEAM
                        li: a(href="shortcode-portfolio.html") PORTFOLIO
                        li: a(href="shortcode-clients.html") PARTNERS
                li
                    a(href="#") SHORTCODES 02
                    ul
                        li: a(href="shortcode-icon-box.html") ICON BOX
                        li: a(href="shortcode-icon-lists.html") ICON LIST
                        li: a(href="shortcode-contact-form.html") CONTACT FORM
                        li: a(href="shortcode-parallax.html") PARALLAX
                        li: a(href="shortcode-slider.html") SLIDER
                        li: a(href="shortcode-counter.html") COUNTER
                        li: a(href="shortcode-quotes.html") QUOTES
                        li: a(href="shortcode-piechart.html") PIE CHART
                        li: a(href="shortcode-horizontal-progressbar.html") HORIZONTAL PROGRESSBAR
                        li: a(href="shortcode-vertical-progressbar.html") VERTICAL PROGRESSBAR
                li
                    a(href="#") SHORTCODES 03
                    ul
                        li: a(href="shortcode-typography.html") TYPOGRAPHY
                        li: a(href="shortcode-blockquotes.html") BLOCK QUOTES
                        li: a(href="shortcode-hightlights.html") HIGHLIGHTS
                        li: a(href="shortcode-separator.html") SEPARATOR
                        li: a(href="shortcode-dropcaps.html") DROPCAPS
                        li: a(href="shortcode-column.html") COLUMNS
                        li: a(href="shortcode-heading.html") HEADINGS
                        li: a(href="shortcode-testimonials.html") TESTIMONIALS
                        li: a(href="shortcode-pricing-table.html") PRICING TABLES
                        li: a(href="shortcode-interactive-banner.html") BANNER
                li
                    a(href="#") FEATURES
                    ul
                        li: a(href="#") BOOTSTRAP 3 GRID SYSTEM
                        li: a(href="#") HTML5 & CSS3 ANIMATION
                        li: a(href="#") AUTOMATE YOUR WORKFLOW
                        li: a(href="#") NODE TEMPLATE ENGINE
                        li: a(href="#") LESS PRE-PROCESSOR
                        li: a(href="#") DROPDOWN & MEGAMENU
                        li: a(href="#") 20 HEADER AND FOOTER
                        li: a(href="#") 03 COMINGSOON PAGES
                        li: a(href="#") 20+ PORTFOLIO DESIGN
                        li: a(href="#") 15 BLOG DESIGN
                li
                    a(href="#") FEATURES
                    ul
                        li: a(href="#") FONT AWESOME READY
                        li: a(href="#") +1000 ICON FONTS
                        li: a(href="#") FULLY RESPONSIVE
                        li: a(href="#") TONS OF ELEMENTS
                        li: a(href="#") RETINA READY
                        li: a(href="#") FREE GOOLGE FONTS
                        li: a(href="#") PARALAX BACKGROUND
                        li: a(href="#") WIDE & BOXED LAYOUT
                        li: a(href="homepage-leftmenu.html") LEFT MENU READY
                        li: a(href="homepage-slip-screen.html") SLIP SCREEN
        li
            a(href="#") BLOG
            ul
                li
                    a(href="#") CLASSIC LAYOUT
                    ul
                        li: a(href="blog-sidebar-left.html") SIDEBAR LEFT
                        li: a(href="blog-sidebar-right.html") SIDEBAR RIGHT
                        li: a(href="blog-fullwidth.html") FULLWIDTH
                li
                    a(href="#") GRID LAYOUT
                    ul
                        li: a(href="blog-masonry-2-sidebar-left.html") SIDEBAR LEFT
                        li: a(href="blog-masonry-2-sidebar-right.html") SIDEBAR RIGHT
                        li: a(href="blog-masonry-2-fullwidth.html") FULLWIDTH
                li
                    a(href="#") MASONRY
                    ul
                        li: a(href="blog-masonry-fullwidth.html") FULLWIDTH
                        li: a(href="blog-masonry-sidebar-left.html") SIDEBAR LEFT
                        li: a(href="blog-masonry-sidebar-right.html") SIDEBAR RIGHT
                li
                    a(href="#") GRAY
                    ul
                        li: a(href="blog-gray-fullwidth.html") FULLWIDTH
                        li: a(href="blog-gray-sidebar-left.html") SIDEBAR LEFT
                        li: a(href="blog-gray-sidebar-right.html") SIDEBAR RIGHT
                li
                    a(href="#") SINGLE POST
                    ul
                        li: a(href="blog-post-detail.html") FULLWIDTH
                        li: a(href="blog-post-detail-left-sidebar.html") SIDEBAR LEFT
                        li: a(href="blog-post-detail-right-sidebar.html") SIDEBAR RIGHT
        li
            a(href="#") PORTFOLIO
            ul
                li
                    a(href="#") GRID STYLE
                    ul
                        li: a(href="portfolio-grid-2-col.html") 2 COLUMNS
                        li: a(href="portfolio-grid-3-col.html") 3 COLUMNS
                        li: a(href="portfolio-grid-4-col.html") 4 COLUMNS
                        li: a(href="portfolio-grid-wide-4-col.html") 4 COLUMNS WIDE
                        li: a(href="portfolio-grid-wide-5-col.html") 5 COLUMNS WIDE
                        li: a(href="portfolio-grid-wide-6-col.html") 6 COLUMNS WIDE
                li
                    a(href="#") TEXT AND SPACE
                    ul
                        li: a(href="portfolio-text-and-space-2-col.html") 2 COLUMNS
                        li: a(href="portfolio-text-and-space-3-col.html") 3 COLUMNS
                        li: a(href="portfolio-text-and-space-wide-3-col.html") 3 COLUMNS WIDE
                        li: a(href="portfolio-text-and-space-wide-4-col.html") 4 COLUMNS WIDE
                        li: a(href="portfolio-text-and-space-wide-5-col.html") 5 COLUMNS WIDE
                li
                    a(href="#") NO SPACE
                    ul
                        li: a(href="portfolio-nospace-2-col.html") 2 COLUMNS
                        li: a(href="portfolio-nospace-3-col.html") 3 COLUMNS
                        li: a(href="portfolio-nospace-4-col.html") 4 COLUMNS
                        li: a(href="portfolio-nospace-wide-4-col.html") 4 COLUMNS WIDE
                        li: a(href="portfolio-nospace-wide-5-col.html") 5 COLUMNS WIDE
                        li: a(href="portfolio-nospace-wide-6-col.html") 6 COLUMNS WIDE
                li
                    a(href="#") MASONRY STYLE
                    ul
                        li: a(href="portfolio-masonry-space-3-col.html") 3 COLUMNS
                        li: a(href="portfolio-masonry-wide-4-col.html") WIDE 4 COLUMNS
                        li: a(href="portfolio-masonry-3-col.html") GRID 3 COLUMNS NO SPACE
                        li: a(href="portfolio-masonry-space-wide-4-col.html") SPACE 4 COLUMNS WIDE
                li
                    a(href="#") SINGLE PORTFOLIO
                    ul
                        li: a(href="portfolio-single-horizontal-slide.html") HORIZONTAL SLIDE
                        li: a(href="portfolio-single-vertical-slide.html") VERTICAL SLIDE
                        li: a(href="portfolio-single-small-slide.html") SMALL SLIDE
        li
            a(href="#") SHOP
            ul
                li: a(href="shop-category.html") CATEGORY
                li: a(href="shop-category-caro.html") CATEGORY CARO
                li: a(href="shop-cart.html") SHOP CART
                li: a(href="shop-checkout.html") CHECKOUT
                li: a(href="shop-detail-1.html") DETAIL 1
                li: a(href="shop-detail-2.html") DETAIL 2
                li: a(href="shop-successfully.html") PAYMENT SUCCESSFUL

//- (Use: screen >= 992px, nav have mega menus)
mixin nav-main-menu(Class, division)
    ul.nav-main-menu(class=Class)
        li
            a(href="#") HOME
            ul
                li: a(href="homepage-default.html") DEFAULT
                li
                    a(href="#") CORPORATE
                    ul
                        li: a(href="homepage-corporate.html") CORPORATE 1
                        li: a(href="homepage-corporate-2.html") CORPORATE 2
                li: a(href="homepage-onepage.html") ONEPAGE
                li: a(href="homepage-menubottom.html") MENU BOTTOM
                li: a(href="homepage-agency.html") AGENCY
                li
                    a(href="#") ALTERNATIVE
                    ul
                        li: a(href="homepage-alternative.html") ALTERNATIVE 1
                        li: a(href="homepage-alternative-2.html") ALTERNATIVE 2
                li: a(href="homepage-slip-screen.html") SLIPSCREEN
                li
                    a(href="#") BUSINESS
                    ul
                        li: a(href="homepage-business.html") BUSINESS
                        li: a(href="homepage-business-2.html") BUSINESS 2
                li
                    a(href="#") CREATIVE
                    ul
                        li: a(href="homepage-creative.html") CREATIVE
                        li: a(href="homepage-creative-2.html") CREATIVE 2
                li: a(href="homepage-leftmenu.html") LEFT MENU
                li: a(href="homepage-portfolio.html") PORTFOLIO
                li
                    a(href="#") BLOG
                    ul
                        li: a(href="homepage-blog.html") BLOG LARGE IMAGE
                        li: a(href="homepage-blog-masonry.html") BLOG MASONRY
                li
                    a(href="#") CLASSIC
                    ul
                        li: a(href="homepage-classic.html") CLASSIC 01
                        li: a(href="homepage-classic-2.html") CLASSIC 02
                li
                    a(href="#") SHOP
                    ul
                        li: a(href="homepage-shop-1.html") SHOP 1
                        li: a(href="homepage-shop-2.html") SHOP 2
                        li: a(href="homepage-shop-2-caro.html") SHOP 2 CARO
                        li: a(href="homepage-shop-3.html") SHOP 3
                        li: a(href="homepage-shop-3-caro.html") SHOP 3 CARO
        if division
            li.division
                span
        li
            a(href="#") PAGES
            ul
                li: a(href="page-about.html") ABOUT US
                li: a(href="page-about-2.html") ABOUT US 2
                li: a(href="page-contact.html") CONTACT US
                li: a(href="page-service.html") SERVICES
                li: a(href="page-service-2.html") SERVICES 2
                li: a(href="page-ourteam.html") OUR TEAM
                li: a(href="page-ourteam-2.html") OUR TEAM 2
                li: a(href="page-clients.html") OUR CLIENTS
                li: a(href="page-login.html") LOGIN
                li: a(href="page-register.html") REGISTER
                li: a(href="page-underconstruction.html") UNDER CONSTRUCTION
                li: a(href="page-underconstruction2.html") UNDER CONSTRUCTION 02
                li: a(href="page-underconstruction3.html") UNDER CONSTRUCTION 03
                li: a(href="404.html") 404 ERROR
                li: a(href="403.html") 403 ACCESS DENIED
                li: a(href="500.html") 500 SERVER ERROR
        if division
            li.division
                span
        li.mega-menu.menu-5-col
            a(href="#") FEATURES
            ul.mega-menu-content
                li.menu-title
                    a(href="#") SHORTCODES 01
                    ul
                        li: a(href="shortcode-button.html") BUTTON
                        li: a(href="shortcode-tabs.html") TABS
                        li: a(href="shortcode-accordion.html") ACCORDION
                        li: a(href="shortcode-message-box.html") MESSAGE BOX
                        li: a(href="shortcode-blog-posts.html") BLOG POSTS
                        li: a(href="shortcode-call-to-action.html") CALL TO ACTION
                        li: a(href="shortcode-coverbox.html") COVER BOX
                        li: a(href="shortcode-team.html") OUR TEAM
                        li: a(href="shortcode-portfolio.html") PORTFOLIO
                        li: a(href="shortcode-clients.html") PARTNERS
                li.menu-title
                    a(href="#") SHORTCODES 02
                    ul
                        li: a(href="shortcode-icon-box.html") ICON BOX
                        li: a(href="shortcode-icon-lists.html") ICON LIST
                        li: a(href="shortcode-contact-form.html") CONTACT FORM
                        li: a(href="shortcode-parallax.html") PARALLAX
                        li: a(href="shortcode-slider.html") SLIDER
                        li: a(href="shortcode-counter.html") COUNTER
                        li: a(href="shortcode-quotes.html") QUOTES
                        li: a(href="shortcode-piechart.html") PIE CHART
                        li: a(href="shortcode-horizontal-progressbar.html") HORIZONTAL PROGRESSBAR
                        li: a(href="shortcode-vertical-progressbar.html") VERTICAL PROGRESSBAR
                li.menu-title
                    a(href="#") SHORTCODES 03
                    ul
                        li: a(href="shortcode-typography.html") TYPOGRAPHY
                        li: a(href="shortcode-blockquotes.html") BLOCK QUOTES
                        li: a(href="shortcode-hightlights.html") HIGHLIGHTS
                        li: a(href="shortcode-separator.html") SEPARATOR
                        li: a(href="shortcode-dropcaps.html") DROPCAPS
                        li: a(href="shortcode-column.html") COLUMNS
                        li: a(href="shortcode-heading.html") HEADINGS
                        li: a(href="shortcode-testimonials.html") TESTIMONIALS
                        li: a(href="shortcode-pricing-table.html") PRICING TABLES
                        li: a(href="shortcode-interactive-banner.html") BANNER
                li.menu-title
                    a(href="#") OUR FEATURES
                    ul
                        li: a(href="#") BOOTSTRAP 3 GRID SYSTEM
                        li: a(href="#") HTML5 & CSS3 ANIMATION
                        li: a(href="#") AUTOMATE YOUR WORKFLOW
                        li: a(href="#") NODE TEMPLATE ENGINE
                        li: a(href="#") LESS PRE-PROCESSOR
                        li: a(href="#") DROPDOWN & MEGAMENU
                        li: a(href="#") 20 HEADER AND FOOTER
                        li: a(href="#") 03 COMINGSOON PAGES
                        li: a(href="#") 20+ PORTFOLIO DESIGN
                        li: a(href="#") 15 BLOG DESIGN
                li.menu-title
                    a(href="#") OUR FEATURES
                    ul
                        li: a(href="#") FONT AWESOME READY
                        li: a(href="#") +1000 ICON FONTS
                        li: a(href="#") FULLY RESPONSIVE
                        li: a(href="#") TONS OF ELEMENTS
                        li: a(href="#") RETINA READY
                        li: a(href="#") FREE GOOLGE FONTS
                        li: a(href="#") PARALAX BACKGROUND
                        li: a(href="#") WIDE & BOXED LAYOUT
                        li: a(href="homepage-leftmenu.html") LEFT MENU READY
                        li: a(href="homepage-slip-screen.html") SLIP SCREEN
        if division
            li.division
                span
        li
            a(href="#") BLOG
            ul
                li
                    a(href="#") CLASSIC LAYOUT
                    ul
                        li: a(href="blog-sidebar-left.html") SIDEBAR LEFT
                        li: a(href="blog-sidebar-right.html") SIDEBAR RIGHT
                        li: a(href="blog-fullwidth.html") FULLWIDTH
                li
                    a(href="#") GRID LAYOUT
                    ul
                        li: a(href="blog-masonry-2-sidebar-left.html") SIDEBAR LEFT
                        li: a(href="blog-masonry-2-sidebar-right.html") SIDEBAR RIGHT
                        li: a(href="blog-masonry-2-fullwidth.html") FULLWIDTH
                li
                    a(href="#") MASONRY
                    ul
                        li: a(href="blog-masonry-fullwidth.html") FULLWIDTH
                        li: a(href="blog-masonry-sidebar-left.html") SIDEBAR LEFT
                        li: a(href="blog-masonry-sidebar-right.html") SIDEBAR RIGHT
                li
                    a(href="#") GRAY
                    ul
                        li: a(href="blog-gray-fullwidth.html") FULLWIDTH
                        li: a(href="blog-gray-sidebar-left.html") SIDEBAR LEFT
                        li: a(href="blog-gray-sidebar-right.html") SIDEBAR RIGHT
                li
                    a(href="#") SINGLE POST
                    ul
                        li: a(href="blog-post-detail.html") FULLWIDTH
                        li: a(href="blog-post-detail-left-sidebar.html") SIDEBAR LEFT
                        li: a(href="blog-post-detail-right-sidebar.html") SIDEBAR RIGHT
        if division
            li.division
                span
        li.mega-menu.menu-5-col
            a(href="#") PORTFOLIO
            ul.mega-menu-content
                li.menu-title
                    a(href="#") GRID STYLE
                    ul
                        li: a(href="portfolio-grid-2-col.html") 2 COLUMNS
                        li: a(href="portfolio-grid-3-col.html") 3 COLUMNS
                        li: a(href="portfolio-grid-4-col.html") 4 COLUMNS
                        li: a(href="portfolio-grid-wide-4-col.html") 4 COLUMNS WIDE
                        li: a(href="portfolio-grid-wide-5-col.html") 5 COLUMNS WIDE
                        li: a(href="portfolio-grid-wide-6-col.html") 6 COLUMNS WIDE
                li.menu-title
                    a(href="#") TEXT AND SPACE
                    ul
                        li: a(href="portfolio-text-and-space-2-col.html") 2 COLUMNS
                        li: a(href="portfolio-text-and-space-3-col.html") 3 COLUMNS
                        li: a(href="portfolio-text-and-space-wide-3-col.html") 3 COLUMNS WIDE
                        li: a(href="portfolio-text-and-space-wide-4-col.html") 4 COLUMNS WIDE
                        li: a(href="portfolio-text-and-space-wide-5-col.html") 5 COLUMNS WIDE
                li.menu-title
                    a(href="#") NO SPACE
                    ul
                        li: a(href="portfolio-nospace-2-col.html") 2 COLUMNS
                        li: a(href="portfolio-nospace-3-col.html") 3 COLUMNS
                        li: a(href="portfolio-nospace-4-col.html") 4 COLUMNS
                        li: a(href="portfolio-nospace-wide-4-col.html") 4 COLUMNS WIDE
                        li: a(href="portfolio-nospace-wide-5-col.html") 5 COLUMNS WIDE
                        li: a(href="portfolio-nospace-wide-6-col.html") 6 COLUMNS WIDE
                li.menu-title
                    a(href="#") MASONRY STYLE
                    ul
                        li: a(href="portfolio-masonry-space-3-col.html") 3 COLUMNS
                        li: a(href="portfolio-masonry-wide-4-col.html") WIDE 4 COLUMNS
                        li: a(href="portfolio-masonry-3-col.html") GRID 3 COLUMNS NO SPACE
                        li: a(href="portfolio-masonry-space-wide-4-col.html") SPACE 4 COLUMNS WIDE
                li.menu-title
                    a(href="#") SINGLE PORTFOLIO
                    ul
                        li: a(href="portfolio-single-horizontal-slide.html") HORIZONTAL SLIDE
                        li: a(href="portfolio-single-vertical-slide.html") VERTICAL SLIDE
                        li: a(href="portfolio-single-small-slide.html") SMALL SLIDE
        if division
            li.division
                span
        li.menu-tabs._pending
            a(href="#") SHOP
            ul
                li: a(href="shop-category.html") CATEGORY
                li: a(href="shop-category-caro.html") CATEGORY CARO
                li: a(href="shop-cart.html") SHOP CART
                li: a(href="shop-checkout.html") CHECKOUT
                li: a(href="shop-detail-1.html") DETAIL 1
                li: a(href="shop-detail-2.html") DETAIL 2
                li: a(href="shop-successfully.html") PAYMENT SUCCESSFUL
        if division
            li.division
                span

//- (Use: nav hasn't mega menu)
mixin nav-main-menu-single-page(Class, division)
    ul.nav-main-menu(class=Class)
        li
            a(href="#home") HOME
            ul
                li: a(href="homepage-default.html") DEFAULT
                li
                    a(href="#") CORPORATE
                    ul
                        li: a(href="homepage-corporate.html") CORPORATE 1
                        li: a(href="homepage-corporate-2.html") CORPORATE 2
                li: a(href="homepage-onepage.html") ONEPAGE
                li: a(href="homepage-menubottom.html") MENU BOTTOM
                li: a(href="homepage-agency.html") AGENCY
                li
                    a(href="#") ALTERNATIVE
                    ul
                        li: a(href="homepage-alternative.html") ALTERNATIVE 1
                        li: a(href="homepage-alternative-2.html") ALTERNATIVE 2
                li: a(href="homepage-slip-screen.html") SLIPSCREEN
                li
                    a(href="#") BUSINESS
                    ul
                        li: a(href="homepage-business.html") BUSINESS
                        li: a(href="homepage-business-2.html") BUSINESS 2
                li
                    a(href="#") CREATIVE
                    ul
                        li: a(href="homepage-creative.html") CREATIVE
                        li: a(href="homepage-creative-2.html") CREATIVE 2
                li: a(href="homepage-leftmenu.html") LEFT MENU
                li: a(href="homepage-portfolio.html") PORTFOLIO
                li
                    a(href="#") BLOG
                    ul
                        li: a(href="homepage-blog.html") BLOG LARGE IMAGE
                        li: a(href="homepage-blog-masonry.html") BLOG MASONRY
                li
                    a(href="#") CLASSIC
                    ul
                        li: a(href="homepage-classic.html") CLASSIC 01
                        li: a(href="homepage-classic-2.html") CLASSIC 02
                li
                    a(href="#") SHOP
                    ul
                        li: a(href="homepage-shop-1.html") SHOP 1
                        li: a(href="homepage-shop-2.html") SHOP 2
                        li: a(href="homepage-shop-2-caro.html") SHOP 2 CARO
                        li: a(href="homepage-shop-3.html") SHOP 3
                        li: a(href="homepage-shop-3-caro.html") SHOP 3 CARO
        if division
            li.division
                span
        li
            a(href="#about") ABOUT
        if division
            li.division
                span
        li
            a(href="#service") SERVICES
        if division
            li.division
                span
        li
            a(href="#portfolio") PORTFOLIO
        if division
            li.division
                span
        li
            a(href="#blog") BLOG
        if division
            li.division
                span
        li
            a(href="#contact") CONTACT
        if division
            li.division
                span

//- (Use: screen >= 992px, Slip page)
mixin nav-main-menu-slip-page(Class,Id)
    ul.nav-main-menu(class=Class,id=Id)
        li(data-menuanchor="sectionHome")
            a(href="#sectionHome") HOME
            ul
                li: a(href="homepage-default.html") DEFAULT
                li
                    a(href="#") CORPORATE
                    ul
                        li: a(href="homepage-corporate.html") CORPORATE 1
                        li: a(href="homepage-corporate-2.html") CORPORATE 2
                li: a(href="homepage-onepage.html") ONEPAGE
                li: a(href="homepage-menubottom.html") MENU BOTTOM
                li: a(href="homepage-agency.html") AGENCY
                li
                    a(href="#") ALTERNATIVE
                    ul
                        li: a(href="homepage-alternative.html") ALTERNATIVE 1
                        li: a(href="homepage-alternative-2.html") ALTERNATIVE 2
                li: a(href="homepage-slip-screen.html") SLIPSCREEN
                li
                    a(href="#") BUSINESS
                    ul
                        li: a(href="homepage-business.html") BUSINESS
                        li: a(href="homepage-business-2.html") BUSINESS 2
                li
                    a(href="#") CREATIVE
                    ul
                        li: a(href="homepage-creative.html") CREATIVE
                        li: a(href="homepage-creative-2.html") CREATIVE 2
                li: a(href="homepage-leftmenu.html") LEFT MENU
                li: a(href="homepage-portfolio.html") PORTFOLIO
                li
                    a(href="#") BLOG
                    ul
                        li: a(href="homepage-blog.html") BLOG LARGE IMAGE
                        li: a(href="homepage-blog-masonry.html") BLOG MASONRY
                li
                    a(href="#") CLASSIC
                    ul
                        li: a(href="homepage-classic.html") CLASSIC 01
                        li: a(href="homepage-classic-2.html") CLASSIC 02
                li
                    a(href="#") SHOP
                    ul
                        li: a(href="homepage-shop-1.html") SHOP 1
                        li: a(href="homepage-shop-2.html") SHOP 2
                        li: a(href="homepage-shop-2-caro.html") SHOP 2 CARO
                        li: a(href="homepage-shop-3.html") SHOP 3
                        li: a(href="homepage-shop-3-caro.html") SHOP 3 CARO
        li(data-menuanchor="sectionAbout")
            a(href="#sectionAbout") ABOUT
        li(data-menuanchor="sectionPortfolio")
            a(href="#sectionPortfolio") PORTFOLIO
        li(data-menuanchor="sectionServices")
            a(href="#sectionServices") SERVICES
        li(data-menuanchor="sectionBlog")
            a(href="#sectionBlog") BLOG
        li(data-menuanchor="sectionContact")
            a(href="#sectionContact") CONTACT

//- (Use: screen >= 1300px, left menu page)
mixin nav-left-menu(Class)
    ul.nav-main-menu(class=Class)
        li
            a(href="#") HOME
            ul
                li: a(href="homepage-default.html") Default
                li: a(href="homepage-corporate.html") Corporate
                li: a(href="homepage-corporate-2.html") Corporate 2
                li: a(href="homepage-onepage.html") Onepage
                li: a(href="homepage-agency.html") Agency
                li
                    a(href="#") Alternative
                    ul
                        li: a(href="homepage-alternative.html") Alternative 1
                        li: a(href="homepage-alternative-2.html") Alternative 2
                li: a(href="homepage-menubottom.html") Menu Bottom
                li: a(href="homepage-business.html") Business
                li: a(href="homepage-business-2.html") Business 2
                li: a(href="homepage-creative.html") Creative
                li: a(href="homepage-creative-2.html") Creative 2
                li: a(href="homepage-leftmenu.html") Left Menu
                li: a(href="homepage-portfolio.html") Portfolio
                li: a(href="homepage-blog.html") Blog Large Image
                li: a(href="homepage-blog-masonry.html") Blog Masonry
                li: a(href="homepage-slip-screen.html") Slipscreen
                li: a(href="homepage-classic.html") Classic 01
                li: a(href="homepage-classic-2.html") Classic 02
                li
                    a(href="#") Shop
                    ul
                        li: a(href="homepage-shop-1.html") Shop 01
                        li: a(href="homepage-shop-2.html") Shop 02
                        li: a(href="homepage-shop-2-caro.html") Shop 02 Caro
                        li: a(href="homepage-shop-3.html") Shop 03
                        li: a(href="homepage-shop-3-caro.html") Shop 03 Caro
                li: a(href="#") Updating...
        li
            a(href="#") PAGES
            ul
                li: a(href="page-about.html") About Us
                li: a(href="page-contact.html") Contact Us
                li: a(href="page-contact-2.html") Contact Us 2
                li: a(href="page-service.html") Services
                li: a(href="page-service-2.html") Services 2
                li: a(href="page-ourteam.html") Our Team
                li: a(href="page-ourteam-2.html") Our Team 2
                li: a(href="page-clients.html") Our Clients
                li: a(href="page-login.html") Login
                li: a(href="page-register.html") Register
                li: a(href="page-underconstruction.html") Under Construction
                li: a(href="page-underconstruction2.html") Under Construction 02
                li: a(href="page-underconstruction3.html") Under Construction 03
                li: a(href="404.html") 404 Error
                li: a(href="403.html") 403 Access Denied
                li: a(href="404.html") 500 Server Error
        li
            a(href="#") SHORTCODES
            ul
                li
                    a(href="#") Group 01
                    ul
                        li: a(href="shortcode-button.html") Button
                        li: a(href="shortcode-tabs.html") Tabs
                        li: a(href="shortcode-accordion.html") Accordion
                        li: a(href="shortcode-message-box.html") Message Box
                        li: a(href="shortcode-blog-posts.html") Blog Posts
                        li: a(href="shortcode-call-to-action.html") Call To Action
                li
                    a(href="#") Group 02
                    ul
                        li: a(href="shortcode-coverbox.html") Cover Box
                        li: a(href="shortcode-team.html") Our Team
                        li: a(href="shortcode-portfolio.html") Portfolio
                        li: a(href="shortcode-clients.html") Partners
                        li: a(href="shortcode-icon-box.html") Icon Box
                        li: a(href="shortcode-icon-lists.html") Icon List
                li
                    a(href="#") Group 03
                    ul
                        li: a(href="shortcode-contact-form.html") Contact Form
                        li: a(href="shortcode-parallax.html") Parallax
                        li: a(href="shortcode-slider.html") Slider
                        li: a(href="shortcode-counter.html") Counter
                        li: a(href="shortcode-interactive-banner.html") Banner
                        li: a(href="shortcode-quotes.html") Quotes
                li
                    a(href="#") Group 04
                    ul
                        li: a(href="shortcode-typography.html") Typography
                        li: a(href="shortcode-blockquotes.html") Block Quotes
                        li: a(href="shortcode-hightlights.html") Hightlights
                        li: a(href="shortcode-separator.html") Separator
                        li: a(href="shortcode-dropcaps.html") Dropcaps
                        li: a(href="shortcode-column.html") Columns
                li
                    a(href="#") Group 05
                    ul
                        li: a(href="shortcode-heading.html") Heading
                        li: a(href="shortcode-testimonials.html") Testimonials
                        li: a(href="shortcode-pricing-table.html") Pricing Tables
                        li: a(href="shortcode-piechart.html") Pie chart
                        li: a(href="shortcode-horizontal-progressbar.html") Horizontal Progressbar
                        li: a(href="shortcode-vertical-progressbar.html") Vertical Progressbar
        li
            a(href="#") BLOG
            ul
                li
                    a(href="#") Classic layout
                    ul
                        li: a(href="blog-sidebar-left.html") Sidebar Left
                        li: a(href="blog-sidebar-right.html") Sidebar Right
                        li: a(href="blog-fullwidth.html") Fullwidth
                li
                    a(href="#") Grid Layour
                    ul
                        li: a(href="blog-masonry-2-sidebar-left.html") Sidebar Left
                        li: a(href="blog-masonry-2-sidebar-right.html") Sidebar Right
                        li: a(href="blog-masonry-2-fullwidth.html") Fullwidth
                li
                    a(href="#") Masonry
                    ul
                        li: a(href="blog-masonry-fullwidth.html") Fullwidth
                        li: a(href="blog-masonry-sidebar-left.html") Sidebar Left
                        li: a(href="blog-masonry-sidebar-right.html") Sidebar Right
                li
                    a(href="#") Gray
                    ul
                        li: a(href="blog-gray-fullwidth.html") Fullwidth
                        li: a(href="blog-gray-sidebar-left.html") Sidebar Left
                        li: a(href="blog-gray-sidebar-right.html") Sidebar Right
                li
                    a(href="#") Single Post
                    ul
                        li: a(href="blog-post-detail.html") Fullwidth
                        li: a(href="blog-post-detail-left-sidebar.html") Sidebar Left
                        li: a(href="blog-post-detail-right-sidebar.html") Sidebar Right
        li
            a(href="#") PORTFOLIO
            ul
                li
                    a(href="#") Grid Style
                    ul
                        li: a(href="portfolio-grid-2-col.html") 2 Columns
                        li: a(href="portfolio-grid-3-col.html") 3 Columns
                        li: a(href="portfolio-grid-4-col.html") 4 Columns
                        li: a(href="portfolio-grid-wide-4-col.html") 4 Columns Wide
                        li: a(href="portfolio-grid-wide-5-col.html") 5 Columns Wide
                        li: a(href="portfolio-grid-wide-6-col.html") 6 Columns Wide
                li
                    a(href="#") Text And Space
                    ul
                        li: a(href="portfolio-text-and-space-2-col.html") 2 Columns
                        li: a(href="portfolio-text-and-space-3-col.html") 3 Columns
                        li: a(href="portfolio-text-and-space-wide-3-col.html") 3 Columns Wide
                        li: a(href="portfolio-text-and-space-wide-4-col.html") 4 Columns Wide
                        li: a(href="portfolio-text-and-space-wide-5-col.html") 5 Columns Wide
                li
                    a(href="#") No Space
                    ul
                        li: a(href="portfolio-nospace-2-col.html") 2 Columns
                        li: a(href="portfolio-nospace-3-col.html") 3 Columns
                        li: a(href="portfolio-nospace-4-col.html") 4 Columns
                        li: a(href="portfolio-nospace-wide-4-col.html") 4 Columns Wide
                        li: a(href="portfolio-nospace-wide-5-col.html") 5 Columns Wide
                        li: a(href="portfolio-nospace-wide-6-col.html") 6 Columns Wide
                li
                    a(href="#") Masonry Style
                    ul
                        li: a(href="portfolio-masonry-space-3-col.html") 3 Columns
                        li: a(href="portfolio-masonry-wide-4-col.html") Wide 4 Columns
                        li: a(href="portfolio-masonry-3-col.html") Grid 3 Columns No Space
                        li: a(href="portfolio-masonry-space-wide-4-col.html") Space 4 Columns Wide
                li
                    a(href="#") Single Portfolio
                    ul
                        li: a(href="portfolio-single-horizontal-slide.html") Horizontal Slide
                        li: a(href="portfolio-single-vertical-slide.html") Vertical Slide
                        li: a(href="portfolio-single-small-slide.html") Small Slide
        li
            a(href="#") SHOP
            ul
                li: a(href="shop-category.html") Category
                li: a(href="shop-category-caro.html") Category Caro
                li: a(href="shop-cart.html") Shop cart
                li: a(href="shop-checkout.html") Checkout
                li: a(href="shop-detail-1.html") Detail 1
                li: a(href="shop-detail-2.html") Detail 2
                li: a(href="shop-successfully.html") Payment Successful

//- Other
//- =========

//- Search
//- ======
mixin nav-search-form
    form.nav-search-form
        .content-wrapper
            img.logo-light(src="assets/images/logo-5-white.svg", alt="logo")
            img.logo-dark(src="assets/images/logo-5.svg", alt="logo")
            .content
                input(type="search" name="search" class="form-control" value="" placeholder="Write search...")
                button SEARCH
            a(href="#").search-trigger-hide

//- Logo
//- ======
mixin nav-logo(img1, img2)
    .nav-logo
        a(href="index.html")
            img(src="assets/images/" + img1, alt="Wolverine")
    .nav-logo.logo-2
        a(href="index.html")
            img.logo-2(src="assets/images/" + (img2 ? img2 : "logo-9.svg"), alt="Wolverine")

//- Shopping cart
//- ======
mixin nav-shop-cart(CLass)
    .nav-shop-cart(class=CLass)
        .content-wrapper
            .no-cart-note
                p NO PRODUCT IN CART
            .content
                .title
                    p SHOPPING CART
                .cart-list-wrapper
                    ul.cart-list
                        li.cart-item.clearfix
                            .image
                                a(href="shop-detail-2.html")
                                    .layout-after
                                        img(src="assets/images/shop-product-14a.jpg", alt="Cart Item")
                            .info
                                a.name(href="shop-detail-2.html") ROALD BACK PACK
                                p
                                    span 1
                                    |&nbsp;x&nbsp;
                                    span $150
                            .remove
                                a(href="#")
                        li.cart-item.clearfix
                            .image
                                a(href="shop-detail-2.html")
                                    .layout-after
                                        img(src="assets/images/shop-product-11a.jpg", alt="Cart Item")
                            .info
                                a.name(href="shop-detail-2.html") FELT PODS FLIP TUMBLE GRAY
                                p
                                    span 1
                                    |&nbsp;x&nbsp;
                                    span $150
                            .remove
                                a(href="#")
                .cart-total-wrapper
                    .cart-total.clearfix
                        a(href="#").empty-cart
                            i
                            |Empty Cart
                        p.sub-total Sub Total:&nbsp;
                            span $300
                .cart-button
                    a(href="shop-cart.html").normal-btn.normal-btn-main
                        i.icon-svg-icon-16
                        |VIEW CART
                    br
                    a(href="shop-checkout.html").border-btn.border-btn-light CHECKOUT
//- Nav
//- =========

//- Nav (Class 1)
//- ======
mixin main-nav-1(Class2, Class1, Id, stickyNavHeight)
    .main-nav-wrapper.nav-wrapper-1-1(class= Class1, id = Id)
        nav(data-sticky-nav-height= stickyNavHeight)
            .main-nav.main-nav-1.type-1(class=Class2)
                .container
                    +nav-logo("logo-2.svg")
                    .nav-top-search
                        a(href="#").search-trigger-show
                    +nav-main-menu("")
                    +nav-main-menu-default("small-screen")
                    .nav-hamburger-wrapper
                        .cell-vertical-wrapper
                            .cell-middle
                                .nav-hamburger
                                    span
                    .nav-top-cart
                +nav-search-form

mixin main-nav-1-2(Class2, Class1, Id, stickyNavHeight)
    .main-nav-wrapper.nav-wrapper-1-2(class= Class1, id = Id)
        nav(data-sticky-nav-height= stickyNavHeight)
            .main-nav.main-nav-1.type-2(class=Class2)
                .container
                    +nav-logo("logo-6.svg")
                    .nav-top-search
                        a(href="#").search-trigger-show
                    +nav-main-menu("")
                    +nav-main-menu-default("small-screen")
                    .nav-hamburger-wrapper
                        .cell-vertical-wrapper
                            .cell-middle
                                .nav-hamburger
                                    span
                    .nav-top-cart
                +nav-search-form

mixin main-nav-1-3(Class2, Class1, Id, stickyNavHeight)
    .main-nav-wrapper.nav-wrapper-1-3(class= Class1, id = Id)
        nav(data-sticky-nav-height= stickyNavHeight)
            .main-nav.main-nav-1.type-3(class=Class2)
                .container
                    .nav-logo
                        a(href="index.html")
                            img(src="assets/images/logo-9.svg", alt="Wolverine")
                    .nav-top-search
                        a(href="#").search-trigger-show
                    +nav-main-menu("")
                    +nav-main-menu-default("small-screen")
                    .nav-hamburger-wrapper
                        .cell-vertical-wrapper
                            .cell-middle
                                .nav-hamburger
                                    span
                    .nav-top-cart
                +nav-search-form

mixin main-nav-creative(Class2, Class1, Id, stickyNavHeight)
    .main-nav-wrapper.nav-wrapper-1-creative(class= Class1, id = Id)
        nav(data-sticky-nav-height= stickyNavHeight)
            .main-nav.main-nav-1.creative-page(class=Class2)
                .container
                    +nav-logo("logo-6.svg")
                    .nav-hamburger-special-wrapper
                        .cell-vertical-wrapper
                            .cell-middle
                                .nav-hamburger-special
                                    span
                    .nav-top-search.nav-content-item
                        a(href="#").search-trigger-show
                    +nav-main-menu("nav-content-item")
                    +nav-main-menu-default("small-screen")
                    .nav-hamburger-wrapper
                        .cell-vertical-wrapper
                            .cell-middle
                                .nav-hamburger
                                    span
                    .nav-top-cart
                +nav-search-form

mixin main-nav-one-page(Class2, Class1, Id, stickyNavHeight)
    .main-nav-wrapper.nav-wrapper-1-onepage(class= Class1, id = Id)
        nav(data-sticky-nav-height= stickyNavHeight)
            .main-nav.main-nav-1.onepage-page(class=Class2)
                .container
                    +nav-logo("logo-9-white.svg")
                    .nav-top-search
                        a(href="#").search-trigger-show
                    +nav-main-menu-single-page(Class,true)
                    +nav-main-menu-single-page("small-screen")
                    .nav-hamburger-wrapper
                        .cell-vertical-wrapper
                            .cell-middle
                                .nav-hamburger
                                    span
                    .nav-top-cart
                +nav-search-form

mixin main-nav-slip(Class2, Class1, Id, stickyNavHeight)
    .main-nav-wrapper.nav-wrapper-slip(class= Class1, id = Id)
        nav(data-sticky-nav-height= stickyNavHeight)
            .main-nav.main-nav-1.slip-page(class=Class2)
                .container
                    +nav-logo("logo-9-white.svg")
                    +nav-main-menu-slip-page(Class,"slip-menu")
                    +nav-main-menu-single-page("small-screen")
                    .nav-hamburger-wrapper
                        .cell-vertical-wrapper
                            .cell-middle
                                .nav-hamburger
                                    span

mixin main-nav-landing-page(Class2, Class1, Id, stickyNavHeight)
    .main-nav-wrapper.nav-wrapper-1-landingpage(class= Class1, id = Id)
        nav(data-sticky-nav-height= stickyNavHeight)
            .main-nav.main-nav-1.landing-page(class=Class2)
                .container
                    +nav-logo("logo-10-white.svg")
                    .nav-top-search
                        a(href="#").search-trigger-show
                    +nav-main-menu("")
                    +nav-main-menu-default("small-screen")
                    .nav-hamburger-wrapper
                        .cell-vertical-wrapper
                            .cell-middle
                                .nav-hamburger
                                    span
                    .nav-top-cart
                +nav-search-form
//- Nav (Class 2)
//- ======
mixin main-nav-2(Class2, Class1, Id)
    .main-nav-wrapper.nav-wrapper-2(class= Class1, id = Id)
        nav
            .main-nav.main-nav-2(class= Class2 ? Class2 : "type-1")
                .container
                    .nav-logo
                        a(href="index.html")
                            img(src="assets/images/logo-9.svg", alt="Wolverine")
                    +nav-main-menu()
                    +nav-main-menu-default("small-screen")
                    .nav-search-box
                        form
                            .content
                                input(type="search" name="search2" class="form-control" value="" placeholder="Search...")
                                button
                    .nav-top-search
                        a(href="#").search-trigger-show
                    .nav-hamburger-wrapper
                        .cell-vertical-wrapper
                            .cell-middle
                                .nav-hamburger
                                    span
                    .division
                        span
                    .nav-top-cart-wrapper
                        a.nav-cart-trigger(href="#")
                            .nav-top-cart(data-content="2")
                                i.icon-svg-icon-16
                        +nav-shop-cart
                    .division
                        span
                    .nav-social
                        +social-default-01
                +nav-search-form

//- Nav (Class 3)
//- ======
mixin main-nav-3(Class2, Class1, Id)
    .main-nav-wrapper.nav-wrapper-3(class= Class1, id = Id)
        nav
            .main-nav.main-nav-3(class= Class2)
                .container
                    .nav-content-wrapper
                        .nav-logo
                            a(href="index.html")
                                img(src="assets/images/logo-9.svg", alt="Wolverine")
                        .nav-content.clearfix
                            .nav-top-search
                                a(href="#").search-trigger-show
                            +nav-main-menu(Class,true)
                            .nav-hamburger-wrapper
                                .cell-vertical-wrapper
                                    .cell-middle
                                        .nav-hamburger
                                            span
                        +nav-main-menu-default("small-screen")
                +nav-search-form

//- Nav (Left menu)
//- ======
mixin main-nav-left
    nav.main-nav-left-wrapper
        .main-nav-left
            .nav-logo
                a(href="index.html")
                    img(src="assets/images/logo-9.svg", alt="Wolverine")
            +nav-left-menu("left-menu")
            .nav-search-box
                form
                    .content
                        input(type="search" name="search2" class="form-control" value="" placeholder="Search...")
                        button
            .nav-social
                +social-default-01

//- Before and after nav
//- =========

//- Main Logo only
//- ======
mixin main-logo-9-b1
    .before-main-nav.before-main-nav-2-b1.text-center
        a(href="index.html")
            img(src="assets/images/logo-9.svg" alt="wolverine")

//- Main nav 2 with before div
//- ======
mixin main-nav-2-b1
    .before-main-nav.before-main-nav-2-b1.text-center
        a(href="index.html")
            img(src="assets/images/logo-9.svg" alt="wolverine")
    +main-nav-2

mixin main-nav-2-b2
    .before-main-nav.before-main-nav-2-b2.text-center
        a(href="index.html")
            img(src="assets/images/logo-6.svg" alt="wolverine")
    +main-nav-2()

mixin main-nav-2-b3
    .before-main-nav.before-main-nav-2-b3.text-center
        a(href="index.html")
            img(src="assets/images/logo12.svg" alt="wolverine")
    +main-nav-2()
//- ======
mixin main-nav-3-b1
    .before-main-nav.before-main-nav-3-b1.text-center
        a(href="index.html")
            img(src="assets/images/logo-2-main.svg" alt="wolverine")
    +main-nav-3("type-1")

mixin main-nav-3-b2
    .before-main-nav.before-main-nav-3-b2.text-center
        a(href="index.html")
            img(src="assets/images/logo-2.svg" alt="wolverine")
    +main-nav-3()

//- Main nav 2 with after div
//- ======
mixin main-nav-2-a1
    +main-nav-2
    .after-main-nav.after-main-nav-2-a1.text-center
        a(href="index.html")
            img(src="assets/images/logo-2-main.svg" alt="wolverine")
        .caption.font-serif Lorem ipsum dolor sit amet, consectetuer adipiscing elit

mixin main-nav-2-a2
    +main-nav-2('type-3')
    .after-main-nav.after-main-nav-2-a2.text-center
        a(href="index.html")
            img(src="assets/images/logo11.svg" alt="wolverine")

//- (Shop page)
mixin main-nav-2-a3
    +main-nav-2
    .after-main-nav.after-main-nav-2-a3.text-center
        a(href="index.html")
            img(src="assets/images/logo-6.svg" alt="wolverine")
